<!doctype html>
<html
  lang="{{ or site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="body">
    <div class="body__content">
      <header>
        {{ partial "header.html" . }}
      </header>
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </div>
    <div class="body__grain"></div>

    {{ partialCached "head/js.html" . }}
  </body>
</html>
