*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.invisible {
  visibility: hidden;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.left-0 {
  left: 0px;
}

.left-1\/2 {
  left: 50%;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-8 {
  margin-top: 2rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.h-0\.5 {
  height: 0.125rem;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-40 {
  height: 10rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-96 {
  height: 24rem;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.w-10 {
  width: 2.5rem;
}

.w-10\/12 {
  width: 83.333333%;
}

.w-12 {
  width: 3rem;
}

.w-40 {
  width: 10rem;
}

.w-6 {
  width: 1.5rem;
}

.w-8 {
  width: 2rem;
}

.w-full {
  width: 100%;
}

.max-w-20 {
  max-width: 5rem;
}

.max-w-2xl {
  max-width: 42rem;
}

.max-w-96 {
  max-width: 24rem;
}

.max-w-\[40rem\] {
  max-width: 40rem;
}

.max-w-lg {
  max-width: 32rem;
}

.max-w-xl {
  max-width: 36rem;
}

.flex-1 {
  flex: 1 1 0%;
}

.grow {
  flex-grow: 1;
}

.border-spacing-0\.5 {
  --tw-border-spacing-x: 0.125rem;
  --tw-border-spacing-y: 0.125rem;
  border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-full {
  --tw-translate-x: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-1 {
  --tw-translate-y: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-110 {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-95 {
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.snap-x {
  scroll-snap-type: x var(--tw-scroll-snap-strictness);
}

.snap-mandatory {
  --tw-scroll-snap-strictness: mandatory;
}

.snap-center {
  scroll-snap-align: center;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-x-3 {
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.gap-x-6 {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.gap-y-2 {
  row-gap: 0.5rem;
}

.gap-y-4 {
  row-gap: 1rem;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.text-wrap {
  text-wrap: wrap;
}

.text-balance {
  text-wrap: balance;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-dashed {
  border-style: dashed;
}

.border-clan-primary-500 {
  --tw-border-opacity: 1;
  border-color: rgb(71 133 133 / var(--tw-border-opacity, 1));
}

.border-clan-secondary-200 {
  --tw-border-opacity: 1;
  border-color: rgb(212 225 227 / var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-clan-primary-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 249 249 / var(--tw-bg-opacity, 1));
}

.bg-clan-primary-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 58 59 / var(--tw-bg-opacity, 1));
}

.bg-clan-secondary-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(236 241 242 / var(--tw-bg-opacity, 1));
}

.bg-clan-secondary-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(50 68 72 / var(--tw-bg-opacity, 1));
}

.bg-clan-success-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(44 255 116 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-opacity-65 {
  --tw-bg-opacity: 0.65;
}

.bg-opacity-95 {
  --tw-bg-opacity: 0.95;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center {
  -o-object-position: center;
     object-position: center;
}

.object-top {
  -o-object-position: top;
     object-position: top;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-8 {
  padding: 2rem;
}

.px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pb-2\.5 {
  padding-bottom: 0.625rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.text-center {
  text-align: center;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.leading-tight {
  line-height: 1.25;
}

.text-clan-primary-50 {
  --tw-text-opacity: 1;
  color: rgb(244 249 249 / var(--tw-text-opacity, 1));
}

.text-clan-primary-950 {
  --tw-text-opacity: 1;
  color: rgb(22 35 36 / var(--tw-text-opacity, 1));
}

.text-clan-secondary-200 {
  --tw-text-opacity: 1;
  color: rgb(212 225 227 / var(--tw-text-opacity, 1));
}

.text-clan-secondary-400 {
  --tw-text-opacity: 1;
  color: rgb(131 168 173 / var(--tw-text-opacity, 1));
}

.text-clan-secondary-800 {
  --tw-text-opacity: 1;
  color: rgb(56 80 84 / var(--tw-text-opacity, 1));
}

.text-clan-secondary-900 {
  --tw-text-opacity: 1;
  color: rgb(50 68 72 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-0 {
  opacity: 0;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.05;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-85 {
  opacity: 0.85;
}

.mix-blend-screen {
  mix-blend-mode: screen;
}

.mix-blend-overlay {
  mix-blend-mode: overlay;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.article-excerpt__header {
  & h2 {
    font-family:
      Archivo SemiCondensed,
      sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 120%;
    letter-spacing: -0.03rem;
    @media (min-width: 768px) {
      font-size: 3rem;

      line-height: 116%;
    }
    @media (min-width: 1536px) {
      font-size: clamp(2.72rem, 2.5vw, 3.62rem);
    }
  }
}

.article {
  display: flex;
  flex-direction: column;
  gap: 3rem 0;
  padding: 3rem 0;
  @media (min-width: 1024px) {
    max-width: 83.333333%;
  }
  .article__header {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    padding: 0 0.75rem;
    h3,
    h4 {
      color: #253a3b;
      max-width: 56rem;
      font-weight: 500;
      line-height: 148% !important;
    }
    @media (min-width: 1024px) {
      gap: 3rem 0;
    }
    @media (min-width: 1536px) {
      gap: 4rem 0;
    }
  }
  .highlight pre,
  pre {
    padding: 2rem 1.5rem;
    background: #162324 !important;
    border-radius: 0.75rem;
    color: #f1f5f6;
    overflow-x: scroll;
    & code {
      display: flex;
      flex-direction: column;
      gap: 0.25rem 0;
    }
  }
  .ap-player pre {
    padding: 0;
    background: transparent !important;
    border-radius: 0;
    color: #f1f5f6;
    overflow-x: scroll;
  }
  .article__header-image {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding-top: 56.25%;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    background: #fff;
    @media (min-width: 768px) {
      border-radius: 1rem;
    }
    @media (min-width: 1024px) {
      border-radius: 1.5rem;
    }
  }
  .article__header-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transform: translate(-50%, -50%);
  }
  .article__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
    @media (min-width: 1536px) {
      gap: 2.5rem 0;
    }
    h2 {
      padding: 2.5rem 0.75rem 0;
    }
    h3 {
      padding: 0 0.75rem;
    }
    p,
    li {
      max-width: 83.333333% !important;
      padding: 0 0.75rem;
      color: #253a3b;
    }
    ul,
    ol {
      display: flex;
      flex-direction: column;
      gap: 1rem 0;
      padding: 2rem 0 2rem 1rem;
      @media (min-width: 768px) {
        padding: 2rem 0 2rem 2rem;
      }
      & ul,
      & ol {
        padding-left: 0;
        padding-right: 0;
        @media (min-width: 768px) {
          padding: 2rem 0 2rem 2rem;
        }
      }
    }
    li {
      list-style-type: disc;
      & a {
        color: #0088ce;
        font-weight: bold;
        word-break: break-all;
      }
    }
    ol li {
      list-style-type: decimal;
    }
    .code {
      overflow: hidden;
      border-radius: 0.75rem;
    }
    p + h3 {
      padding-top: 2rem;
    }
    .code pre {
      background: #253a3b !important;
    }
    .code pre code {
      padding: 1.5rem;
    }
    .code pre code > span {
      padding: 0.125rem 0.75rem;
    }
  }
}

.article-teaser .pill {
  background: #f1f5f6;
}

.article-teaser .pill--highlight {
  background: #2cff74;
}

.article-overview {
  position: relative;
  height: 100%;
}

.article-overview .article-overview__content {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 0 0.5rem;
  @media (min-width: 768px) {
    padding: 0 0.5rem;
  }
}

.article-overview__noise {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 115%;
  background: #fff;
  transform: translate(-50%, -50%) scale(0.98);
  opacity: 0;
  border-radius: 0.75rem;
  transition: transform 0.32s ease-in-out;
  overflow: hidden;
}

.article-overview:hover .article-overview__noise {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.article-overview__noise:before {
  content: "";
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  z-index: 2;
  position: fixed;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
  opacity: 0.16;
  animation: noise 2s steps(2) infinite;
}

.teaser__description {
  margin: 0 auto;
  width: 100%;
  max-width: calc(1.5 * 20rem);
  @media (min-width: 1536px) {
    max-width: calc(2.5 * 20rem);
  }
}

.teaser__header {
  width: 100%;
  max-width: 72rem;
}

.teaser__marker {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 3rem;
  bottom: 3.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: #00e94e;
  border-radius: 100%;
}

.teaser--inverted {
  background: #162324;
  h1,
  h2,
  p {
    color: #fff !important;
  }
}

.blog {
  position: relative;
  z-index: 1;
  padding: 2rem 0 4rem;
  @media (min-width: 640px) {
    padding: 4rem 0 6rem;
  }
}

.blog__stage-frame {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: calc(-1 * 6rem);
  width: 100%;
  height: calc(1.25 * 24rem);
  background: #253a3b;
  overflow: hidden;
  @media (min-width: 640px) {
    margin-top: calc(-1 * 4rem);

    height: 24rem;
  }
  @media (min-width: 768px) {
    margin-top: calc(-1 * 6rem);
  }
}

.blog__stage-frame .grain {
  position: absolute;
}

.blog__body {
  position: relative;
  z-index: 20;
}

.terminal {
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
  background: #ebf2f3;
  border: 1px solid #dde9eb;
  border-radius: 0.5rem;
  @media (min-width: 768px) {
    border-radius: 0.75rem;
  }
}

.terminal__tool {
  padding: 0.25rem 0.75rem;
}

.terminal__tool__dot {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
  background: #bfd0d2;
  @med;
}

.terminal__body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0.5rem;
  padding: 2rem 1rem;
  background: #253a3b;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.08) 25%,
    rgba(255, 255, 255, 0.08) 25%,
    rgba(255, 255, 255, 0.08) 50%,
    rgba(0, 0, 0, 0.08) 50%,
    rgba(0, 0, 0, 0.08) 75%,
    rgba(255, 255, 255, 0.08) 75%,
    rgba(255, 255, 255, 0.08) 100%
  );
  background-size: 4px 4px;
  border: 1px solid #162324;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  @media (min-width: 768px) {
    gap: 1rem 0.5rem;

    padding: 2rem;

    border-bottom-left-radius: 0.75rem;

    border-bottom-right-radius: 0.75rem;
  }
}

.terminal__row {
  display: flex;
  gap: 0 0.5rem;
  color: #fff;
  font-size: 0.85rem;
  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.terminal__column {
  min-width: 3rem;
  @media (min-width: 768px) {
    min-width: 4rem;
  }
}

.terminal__info {
  color: #2cc0ff;
}

.terminal__success {
  color: #2cff74;
}

.terminal__caret {
  flex: 1;
  content: ".";
  max-width: 0.375rem;
  height: 1.125rem;
  color: white;
  background: #fff;
  animation: blink-caret 1.25s infinite;
  @media (min-width: 768px) {
    height: 1.48rem;
  }
}

@keyframes blink-caret {
  0%,
  100% {
    background-color: transparent;
  }

  50% {
    background-color: rgb(255, 255, 255);
  }
}

.hero {
  position: relative;
}

.hero__stage {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: calc(-1 * 6rem);
  width: 100%;
  height: 95%;
  background: #253a3b;
  overflow: hidden;
  @media (min-width: 640px) {
    margin-top: calc(-1 * 4rem);
  }
  @media (min-width: 768px) {
    margin-top: calc(-1 * 6rem);
  }
}

.hero__content {
  @media (min-width: 1536px) {
    display: flex;

    flex-direction: column;

    justify-content: center;

    height: 75vh;
  }
  & p {
    max-width: 40rem;
    color: #f4f9f9;
  }
}

.hero__stage .grain {
  position: absolute;
}

.pill {
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  background: white;
  border-radius: 1.5rem;
  color: #162324;
  @media (min-width: 768px) {
    padding: 0.375rem 1rem;
  }
}

.pill--highlight {
  background: #2cff74;
}

.tile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1.5rem 1rem;
  background: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  min-width: 18rem;
  @media (min-width: 768px) {
    min-width: initial;
  }
}

.tile__inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tile__headline {
  line-height: 124%;
}

.tile__body {
  flex: 1;
}

.tile__footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

.modal {
  display: flex;
  align-items: end;
  justify-content: center;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  @media (min-width: 768px) {
    align-items: center;
  }
}

.modal__backdrop {
  content: "";
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.modal__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 50;
  width: 100%;
  max-width: 720px;
  max-height: 100dvh;
  background: #afc6ca;
  border: 1px solid #162324;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  @media (min-width: 768px) {
    border-radius: 1rem;
  }
}

.modal__header {
  display: flex;
  align-items: center;
  background: #d4e1e3;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 1px solid #83a8ad;
}

.modal__header__title {
  display: flex;
  justify-items: center;
  padding: 0 2rem;
  height: 100%;
  & span {
    padding-top: 0.25rem;
    text-transform: uppercase;
    color: #415e63;
  }
}

.modal__stripe {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
  height: 2.25rem;
  & hr {
    border-color: #8abebc;
  }
}

.modal__header__action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  cursor: pointer;
  & svg {
    width: 12px;
    height: 12px;
  }
}

.modal__body {
  position: relative;
  flex: 1;
  display: flex;
  padding: 1rem;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.modal__body::-webkit-scrollbar {
  display: none;
}

.modal__body__wrapper {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 100%;
  background: white;
  border-radius: 0.5rem;
  overflow: hidden;
  @media (min-width: 1024px) {
    padding: 3rem 4rem;
  }
}

.modal__body__inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border-top: 1px solid #afc6ca;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
  & h3 {
    flex: 1;
    padding-top: 2rem;
    font-size: 1.56rem;
    cursor: pointer;
  }
}

.main-header {
  position: relative;
  z-index: 40;
}

.main-header #logo {
  fill: #162324;
}

.main-header .button__title {
  padding-left: 0.875rem !important;
  padding-right: 0.875rem !important;
}

.main-header__nav {
  diplay: flex;
  align-items: center;
  gap: 0 1rem;
  padding: 0 2rem 0 0;
}

.main-header__nav a {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  color: #162324;
}

.main-header--inverted #logo {
  fill: white;
}

.main-header--inverted .main-header__nav a {
  color: #fff;
  fill: #fff;
}

.main-header__nav--active:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -16px;
  width: 8px;
  height: 8px;
  background: #2cff74;
  border-radius: 50%;
  transform: translateX(-50%);
}

.res-menu--hidden {
  @media (min-width: 768px) {
    display: none;
  }
}

.res-menu__nav {
  position: absolute;
  bottom: 4rem;
  right: 0;
}

.res-menu__nav--hidden {
  display: none;
}

.button {
  position: relative;
  display: flex;
  max-height: 3rem;
  background: #dde9eb;
  border: 1.5px solid #202d31;
  border-radius: 0.375rem;
  box-shadow:
    inset -1px -1px 0 0px #abcace,
    inset -2px -2px 0 1px #bfd0d2,
    inset 1px 1px 0 1px #f5f9fa,
    inset 2px 2px 0 2px #ebf2f3;
}

.button--big {
  height: 56px;
  border-radius: 0.5rem;
}

.button--inverted {
  background: #3c6168;
  border: 1.5px solid #000;
  box-shadow:
    inset -1px -1px 0 0px #202d31,
    inset -2px -2px 0 1px #355257,
    inset 1px 1px 0 1px #5d939a,
    inset 2px 2px 0 2px #497880;
}

.button--inverted .button__title {
  color: white;
}

.button__title {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
  height: 100%;
  font-size: 0.875rem;
  color: #162324 !important;
  font-weight: bold;
  letter-spacing: 0;
  z-index: 2;
  @media (min-width: 768px) {
    padding: 0.25rem 1.5rem;

    font-size: 1rem;
  }
}

.button--big .button__title {
  padding: 0.5rem 1.5rem;
  font-size: 1.125rem;
  @media (min-width: 768px) {
    padding: 0.5rem 2rem 0.625rem;

    font-size: 1.25rem;
  }
}

.button__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #202d31;
  opacity: 0;
}

.button:hover .button__cover {
  opacity: 0.08;
}

.button:active {
  box-shadow:
    inset 1px 1px 0 0px #497880,
    inset 2px 2px 0 1px #abcace;
}

.button:active .button__title {
  transform: translate(1px);
}

.button--inverted:active .button__title {
  color: #b6d9d6;
}

.button:active .button__cover {
  opacity: 0.16;
}

.button--inverted:hover .button__cover {
  opacity: 0.32;
}

.button--inverted:active {
  box-shadow:
    inset 1px 1px 0 0px #202d31,
    inset 2px 2px 0 1px #355257;
}

.use-case {
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
}

.use-case__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 560px;
  overflow: hidden;
  border-radius: 1rem;
  @media (min-width: 768px) {
    border-radius: 1.5rem;
  }
}

.use-case__column {
  flex: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2rem 1rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  @media (min-width: 1024px) {
    max-width: 25rem;

    height: 100%;

    padding-left: 2rem;

    padding-right: 2rem;
  }
}

.use-case__column__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2.5rem 0;
  position: relative;
  z-index: 20;
  height: -moz-fit-content;
  height: fit-content;
  @media (min-width: 768px) {
    justify-content: center;
  }
  @media (min-width: 1024px) {
    height: 100%;
  }
}

.use-case__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #162324;
  opacity: 0.6;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.use-case__header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem 0;
  @media (min-width: 768px) {
    gap: 0.75rem 0;
  }
}

.presentation {
  margin: 0 auto;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.slide {
  position: sticky;
  top: 0;
  z-index: 20;
  margin: 0 auto;
  padding: 2rem 0;
  width: 100%;
  max-width: 124rem;
  height: 100dvh;
  border-radius: 1rem;
  overflow: hidden;
  @media (min-width: 768px) {
    width: 95%;

    border-radius: 1.5rem;
  }
}

.slide__meta {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 2rem;
  width: 100%;
  @media (min-width: 1024px) {
    padding: 3rem 2.5rem;
  }
}

.slide__content {
  position: relative;
  z-index: 40;
  display: flex;
  align-items: flex-end;
  height: 100%;
  @media (min-width: 1024px) {
    align-items: center;
  }
}

.slide__text {
  flex: 1;
  z-index: 20;
  position: relative;
  padding: 1rem 1rem;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.32),
    rgba(255, 255, 255, 0.24)
  );
  border-radius: 0.5rem;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  & p {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
  }
  @media (min-width: 1024px) {
    width: 100%;

    max-width: 35rem;

    color: initial !important;

    background: initial;

    border-radius: initial;

    -webkit-backdrop-filter: initial;

            backdrop-filter: initial;

    & p {
      text-shadow: initial;
    }
  }
}

.slide__img {
  display: flex;
  position: absolute;
  z-index: 30;
  top: 0;
  width: 100%;
  height: 66.666667%;
  @media (min-width: 768px) {
    top: 50%;

    height: 80%;

    transform: translateY(-50%);
  }
  @media (min-width: 1024px) {
    width: 66.666667%;
  }
}

.slide__img--left {
  left: 0;
}

.slide__img--right {
  right: 0;
}

.slide__img__item {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  right: 0;
  @media (min-width: 1024px) {
    -o-object-position: center center;
       object-position: center center;
  }
}

.slide__img__item--right {
  @media (min-width: 1024px) {
    -o-object-position: center right;
       object-position: center right;
  }
}

.slide__img--left {
  left: 0;
}

.slide__bg {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide__gradient {
  content: "";
  z-index: 20;
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 50%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0));
  @media (min-width: 1024px) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }
}

@font-face {
  font-family: Fragment Mono;

  src: url("/fragment/FragmentMono-Regular.otf") format("opentype");

  font-weight: 400;

  font-style: normal;
}

@font-face {
  font-family: Archivo;

  src: url("/archivo/Archivo-Regular.otf") format("opentype");

  font-weight: 400;

  font-style: normal;
}

@font-face {
  font-family: Archivo;

  src: url("/archivo/Archivo-Medium.otf") format("opentype");

  font-weight: 500;

  font-style: normal;
}

@font-face {
  font-family: Archivo;

  src: url("/archivo/Archivo-SemiBold.otf") format("opentype");

  font-weight: 600;

  font-style: normal;
}

@font-face {
  font-family: Archivo SemiCondensed;

  src: url("/archivo/ArchivoSemiCondensed-Regular.otf") format("opentype");

  font-weight: 400;

  font-style: normal;
}

@font-face {
  font-family: Archivo SemiCondensed;

  src: url("/archivo/ArchivoSemiCondensed-Medium.otf") format("opentype");

  font-weight: 500;

  font-style: normal;
}

@font-face {
  font-family: Archivo SemiCondensed;

  src: url("/archivo/ArchivoSemiCondensed-SemiBold.otf") format("opentype");

  font-weight: 600;

  font-style: normal;
}

body {
  /* render for text quality */
  font-family: Archivo SemiCondensed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-feature-settings:
    "dlig" on,
    "salt" on,
    "ss01" on,
    "ss02" on,
    "ss03" on;
}

h3,
.h3 {
  font-family:
    Archivo SemiCondensed,
    sans-serif;
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 120%;
  letter-spacing: -0.03rem;
  @media (min-width: 768px) {
    font-size: 2rem;

    line-height: 110%;
  }
  @media (min-width: 1536px) {
    font-size: clamp(2.24rem, 3.5vw, 2.5rem);
  }
}

h4,
.h4 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 116%;
  letter-spacing: -0.0225rem;
  @media (min-width: 768px) {
    font-size: 1.625rem;

    line-height: 144%;

    letter-spacing: -0.02rem;
  }
  @media (min-width: 1536px) {
    font-size: clamp(1.875rem, 4vw, 2rem);
  }
}

h1,
.h1 {
  font-family:
    Archivo SemiCondensed,
    sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 116%;
  letter-spacing: -0.113rem;
  @media (min-width: 640px) {
    font-size: 2.25rem;

    line-height: 110%;

    letter-spacing: -0.1rem;
  }
  @media (min-width: 768px) {
    font-size: 2.875rem;

    line-height: 110%;

    letter-spacing: -0.1rem;
  }
  @media (min-width: 1024px) {
    font-size: 3.875rem;

    line-height: 110%;

    letter-spacing: -0.1rem;
  }
  @media (min-width: 1536px) {
    font-size: clamp(3rem, 4.5vw, 5rem);
  }
}

h2,
.h2 {
  font-family:
    Archivo SemiCondensed,
    sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 120%;
  letter-spacing: -0.03rem;
  @media (min-width: 768px) {
    font-size: 3rem;

    line-height: 116%;
  }
  @media (min-width: 1536px) {
    font-size: clamp(3rem, 3.5vw, 4.4rem);
  }
}

.article__content p {
  font-weight: 500;
  line-height: 148%;
  letter-spacing: 0.02rem;
}

p,
.p,
.article__content p,
.article__content li {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 142%;
  letter-spacing: 0;
  @media (min-width: 768px) {
    font-size: 1.375rem;
  }
  @media (min-width: 1536px) {
    font-size: clamp(1.56rem, 2.5vw, 1.75rem);
  }
}

.body {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 142%;
  letter-spacing: 0;
  @media (min-width: 768px) {
    font-size: 1.125rem;
  }
  @media (min-width: 1536px) {
    font-size: clamp(1.16rem, 4vw, 1.375rem);
  }
}

.text-teaser {
  font-family:
    Archivo SemiCondensed,
    sans-serif;
  font-weight: 600;
  font-size: 2.875rem;
  line-height: 116%;
  @media (min-width: 768px) {
    font-size: 3.75rem;

    line-height: 110%;
  }
  @media (min-width: 1024px) {
    font-size: 4rem;

    line-height: 110%;
  }
  @media (min-width: 1536px) {
    font-size: clamp(4.5rem, 4vw, 5.5rem);
  }
}

.p-teaser {
  font-weight: 500;
  font-family: "Archivo";
  opacity: 0.88;
  @media (min-width: 768px) {
    font-size: 1rem;

    line-height: 110%;
  }
}

.font-uppercase {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.2rem;
  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.font-button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  @media (min-width: 768px) {
    font-size: 1.125rem;
  }
}

.font-small {
  font-size: 0.75rem;
  line-height: 148%;
  letter-spacing: 0.06rem;
  @media (min-width: 768px) {
    font-size: 0.875rem;

    letter-spacing: 0.06rem;
  }
}

.mono,
code {
  font-family: Fragment Mono !important;
  font-weight: 400;
  letter-spacing: initial !important;
  font-feature-settings:
    "dnom" on,
    "numr" on,
    "dlig" on,
    "salt" on,
    "ss02" on,
    "ss03" on,
    "ss04" on,
    "ss12" on !important;
}

/* this gets applied for ligatures to ensuring to maintain them. A letterspacing applied will break them */

.ligature {
  letter-spacing: 0;
}

.text--primary {
  color: #162324;
}

.text--secondary {
  color: #294546;
}

.text--tertiary {
  color: #37696a;
}

body {
  color: #162324;
  background: #ecf1f2;
}

::-moz-selection {
  /* Code for Firefox */
  color: #162324;
  background: #6fffa3;
}

::selection {
  color: #162324;
  background: #6fffa3;
}

.body__content {
  position: relative;
  z-index: 2;
}

a {
  color: #00e;
  text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

.container--full {
  width: 100%;
  @media (max-width: 768px) {
    padding: 0;

    width: 100%;

    max-width: 100%;
  }
}

.teaser {
  @media (min-width: 768px) {
    font-size: 3.5rem;

    line-height: 116%;

    letter-spacing: -0.15rem;
  }
}

/* .body__grain,
.grain {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-event: none;
  transform: translateZ(0);

  &:before {
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    z-index: 2;
    position: fixed;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    opacity: 0.07;
    animation: noise 20s steps(2) infinite;
  }
} */

.grain--absolute {
  position: absolute;
  overflow: hidden;
  &:before {
    position: absolute !important;
    opacity: 0.16;
  }
}

@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0);
  }

  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }

  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }

  30% {
    transform: translate3d(9rem, -9rem, 0);
  }

  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }

  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }

  60% {
    transform: translate3d(2rem, 6rem, 0);
  }

  70% {
    transform: translate3d(7rem, -8rem, 0);
  }

  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }

  90% {
    transform: translate3d(6rem, -5rem, 0);
  }

  to {
    transform: translate3d(-7rem, 0, 0);
  }
}

.hover\:bg-clan-secondary-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 246 / var(--tw-bg-opacity, 1));
}

.group:hover .group-hover\:translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:border-clan-secondary-300 {
  --tw-border-opacity: 1;
  border-color: rgb(175 198 202 / var(--tw-border-opacity, 1));
}

.group:hover .group-hover\:bg-clan-secondary-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(212 225 227 / var(--tw-bg-opacity, 1));
}

@media (min-width: 768px) {
  .md\:order-1 {
    order: 1;
  }

  .md\:order-2 {
    order: 2;
  }

  .md\:flex {
    display: flex;
  }

  .md\:grid {
    display: grid;
  }

  .md\:w-2\/5 {
    width: 40%;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:gap-12 {
    gap: 3rem;
  }

  .md\:gap-16 {
    gap: 4rem;
  }

  .md\:gap-24 {
    gap: 6rem;
  }

  .md\:gap-6 {
    gap: 1.5rem;
  }

  .md\:gap-8 {
    gap: 2rem;
  }

  .md\:rounded-3xl {
    border-radius: 1.5rem;
  }

  .md\:p-8 {
    padding: 2rem;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:px-0\.5 {
    padding-left: 0.125rem;
    padding-right: 0.125rem;
  }

  .md\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .md\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .md\:py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .md\:pb-24 {
    padding-bottom: 6rem;
  }

  .md\:pb-8 {
    padding-bottom: 2rem;
  }

  .md\:leading-tight {
    line-height: 1.25;
  }
}

@media (min-width: 1024px) {
  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:block {
    display: block;
  }

  .lg\:h-12 {
    height: 3rem;
  }

  .lg\:h-8 {
    height: 2rem;
  }

  .lg\:h-\[23rem\] {
    height: 23rem;
  }

  .lg\:w-12 {
    width: 3rem;
  }

  .lg\:w-8 {
    width: 2rem;
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:gap-16 {
    gap: 4rem;
  }

  .lg\:gap-24 {
    gap: 6rem;
  }

  .lg\:gap-32 {
    gap: 8rem;
  }

  .lg\:gap-8 {
    gap: 2rem;
  }

  .lg\:overflow-visible {
    overflow: visible;
  }

  .lg\:object-contain {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .lg\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg\:py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .lg\:pb-12 {
    padding-bottom: 3rem;
  }

  .lg\:pb-16 {
    padding-bottom: 4rem;
  }

  .lg\:pb-32 {
    padding-bottom: 8rem;
  }

  .lg\:leading-tight {
    line-height: 1.25;
  }
}

@media (min-width: 1536px) {
  .\32xl\:h-\[30rem\] {
    height: 30rem;
  }

  .\32xl\:max-w-\[38rem\] {
    max-width: 38rem;
  }

  .\32xl\:max-w-\[50rem\] {
    max-width: 50rem;
  }

  .\32xl\:max-w-\[56rem\] {
    max-width: 56rem;
  }

  .\32xl\:pb-16 {
    padding-bottom: 4rem;
  }

  .\32xl\:pt-0 {
    padding-top: 0px;
  }
}
