<div class="js-terminal terminal">
  <div class="terminal__tool">
    <div class="flex gap-1">
      <div class="terminal__tool__dot"></div>
      <div class="terminal__tool__dot"></div>
      <div class="terminal__tool__dot"></div>
    </div>
  </div>
  <div class="terminal__body">
    <div class="js-terminal-row terminal__row mono">
      <span class="terminal__column terminal__info">[Clan]</span>
      <span class="text-clan-secondary-400">></span>
      <span class="text-clan-secondary-200"> clan flakes create my-clan </span>
    </div>
    <div class="js-terminal-row terminal__row mono">
      <span class="terminal__column terminal__info">[Clan]</span>
      <span class="text-clan-secondary-400">></span>
      <span class="text-clan-secondary-200">cd my-clan</span>
    </div>
    <div class="js-terminal-row terminal__row mono">
      <span class="terminal__caret"></span>
    </div>
  </div>
</div>
